ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 10px 0;
}

h2 {
  font-size: 1.5em;
  margin: 10px 0;
  color: #333;
}

h3 {
  font-size: 1.2em;
  color: #666;
  margin: 10px 0;
}

p {
  font-size: 1em;
  color: #555;
  margin: 10px 0;
  text-align: center;
}

@media (min-width: 768px) {
  li {
    flex-direction: row;
    justify-content: space-between;
  }

  li img {
    max-width: 60%;
    margin-right: 20px;
  }

  h3, p {
    text-align: left;
  }
}

#name{
  width: 10%;
  padding-left: 0.2cm;
  text-align: center;
}

#img{
  width: 20%;
  margin-left: 1cm;
  margin-right: -2.4cm;
}

#price{
  width: 5%;
  margin-left: 1cm;
}

#ing{
  width: 65%;
}
